@font-face {
  font-family: "PP Neue Montreal";
  src: url(../assets/fonts/PPNeueMontreal.woff);
}

:root {
  --background-color: #fff;
  --main-color: #fff;
  /* Using the Sage colour pattern from Radix UI */
  /* Using Minor Third as the type scale */
  --p: 1rem;
  --h6: 1.2rem;
  --h5: 1.44rem;
  --h4: 1.728rem;
  --h3: 2.074rem;
  --h2: 2.488rem;
  --h1: 2.986rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: "PP Neue Montreal", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: var(--p);
}
